body{
	margin: 0 auto;
}
.content{
	max-width: 100%;
	min-height: 100vh;
	background-image: url('/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay{
	max-width: 100%;
    min-height: 100vh;
	background-color: rgba(255,255,255,0.4);
}
.text {
	margin-top: 0px;
}
.text h1{
	color: #fff;
	font-size: 40px !important;
	text-align: center;
}
@media screen and (max-width: 600px) {
  div.text h1 {
    font-size: 23px !important;
    font-weight: bold !important;
  }
}
.text .horizontal{
	width: 100px;
    border-bottom: 3px solid #fff;
}
.text p{
	color: #fff;
	margin-top: 20px;
	text-align: center;
	line-height: 20px;
}
@media screen and (max-width: 600px) {
  div.text p {
    margin-top: 6px !important;
  }
}
.login{
	margin-top: 20px;
	text-align: center;
	justify-content: center;

}
.main{
	background-color: rgba(0,0,0,0.75) !important;
	box-shadow: 0 0 20px #000;
	width: 320px;
	height: 480px;
	justify-content: center;
	text-align: center;
	top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	
}
.top-content{
	width: 320px;
	height: 120px;
	background-color: rgba(255, 116, 25,0.85);
	color: #fff;
}
.top-content .fa{
	font-size: 60px;

}
.input-group{
	padding:20px;
}
#phone,#password,#room{
	border: 0;
	box-shadow: none;
    border-radius: 0;
    outline: none;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	background:none;
}
#phone:focus,#password:focus,#room:focus{
	border: 0;
    box-shadow: none;
	outline: none;
	border-radius: 0;
	border-bottom: 1px solid rgba(255, 116, 25,1.0);
	color: rgba(255, 116, 25,1.0);
}
.input-group .input-group-addon{
	border: 0;
    box-shadow: none;
	outline: none;
	border-radius: 0;
	background:none;
}
button{
 	background-color:rgba(255, 116, 25,1.0);
 	border:none;
 	border-bottom: 1px solid rgba(255, 116, 25,1.0);
 	color: #fff;
 	margin: 40px,0;
 	font-size: 20px;
 	width: 100px;
 	border-radius: 4px; 
 }
 button:hover{
 	background: none;
 	border: 1px solid rgba(255, 116, 25,1.0);
 	color: rgba(255, 116, 25,1.0);
 }
 .bottom-content{
 	color: #fff;
 }
 .bottom-content a{
	text-decoration: none;
	color: #fff;
}
.bottom-content a:hover{
	color: rgba(255, 116, 25,1.0);
}
